@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>

<p>VolunteerSystem is a simple ASP.NET web application making it easy for volunteers to participate in non-profit
    opportunities and improve the communities in which they work.</p>
