@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <h1>Volunteer Management System</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the Volunteer Management System (VMS)</h2>
        <p>
            The Volunteer Management System helps organization leaders assemble and manage volunteers for
            events or opportunities. 
        </p>

        <!--Adding a button for the user to log in to the system
            I cannot get the below link to work.  It is suppose to map to the accounts controller login function.-->

        <p><a class="btn btn-default"<!-- routes.Maproute("Login", "{controller=Home}/{action=_LoginPartial}/{id?}")-->Log In</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download new versions of the Volunteer System from its github repository.</p>
        <p><a class="btn btn-default" href="https://www.github.com/citruslogic/VolunteerSystem">Download &raquo;</a></p>
    </div>
</div>
